{% extends 'users/layout.html' %}

{% block body %}
    {% if message %}
        <div>{{message}}</div>
    {% endif %}
    
    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="Username">

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Password">
        
        <input type="submit" value="Login">
    </form>
{% endblock %}